[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
python-dotenv = "*"
dependency-injector = "*"
requests = "*"

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
